#app {
  width: 200px;
  height: 200px;
  background-color: rgb(186, 83, 83);
}

body {
  color: rgb(243, 122, 122);
  font-size: 14px;
  background-color: #fff;
}

.container {
  margin: 20px;
  padding: 10px;
  color: rgb(26, 26, 121);
  font-size: 12px;
}
